
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid black;
}

body {
    background: linear-gradient(90deg, #43cea2 0%, #185a9d 100%);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    position: fixed;
    top: 50px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#usage {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    margin-top: 10px;
}

#data-div {
    margin: 20px 0;
    font-size: 1.2em;
    position: fixed;
    top: 75px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.reset-btn {
    font-size: 50px;
    position: fixed;
    top: 150px;
    right: 100px; 
    width: 100px;
    height: 100px;
    color: rgb(0, 0, 0);
    border: none;
    border: 3px solid rgb(0, 0, 0);
    background-color: transparent;  
    border-radius: 4px;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reset-btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    animation: jump 0.5s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* moves the button up; jumping animation*/
    }
    100% {
        transform: translateY(0);
    }
}


html {
    width: 300px;  /* ensure popup width is not exceeding 800px */
    height: 400px; /* ensure popup height is not exceeding 600px */
}

.reset-label {
    position: fixed;
    top: 275px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;

}